body {
    width: 200px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #a4b0be;
}
button {
    background: #5352ed;
    border: none;
    padding: 2em 3em;
    color: white;
    cursor: pointer;
    transition: transform 0.1s linear;

}

button:hover {
    transform: scale(1.1);
}
