*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.bold {
  font-weight: bold;
}
.text-danger {
  color: var(--error-color);
}
.profit {
  color: var(--validation-color);
}
.active {
  background-color: var(--third-color);
  -webkit-box-shadow: 1px 1px 5px 0 var(--third-color);
  box-shadow: 1px 1px 5px 0 var(--third-color);
}
/**
 * VARIABLES
 */
:root {
  --font-color-light: #ffffff;
  --error-color: #ff4757;
  --validation-color: #7cb342;
  --primary-color: #3d3d3d;
  --secondary-color: #575757;
  --third-color: #7d5fff;
  --scrollbar-track: #575757;
  --scrollbar-thumb-hover: #8c72fc;
}

body {
  background: var(--primary-color);
  font-family: "Roboto", sans-serif;
  color: var(--font-color-light);
  margin: 0;
  padding: 0;
}
#app {
  width: 600px;
}
::-webkit-scrollbar {
  width: 1em;
  background: var(--primary-color);
}
::-webkit-scrollbar-track {
  border-radius: 100vw;
  margin-block: 0.5em;
  background: var(--scrollbar-track);
}
::-webkit-scrollbar-thumb {
  background: var(--third-color);
  width: 0.5em;
  height: 5em;
  border-radius: 100vw;
  border: solid 2px var(--scrollbar-track);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}
/**
 * POPUP.VUE HERE
 */
header {
  padding-bottom: 0.8em;
  flex-wrap: wrap;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  z-index: 10;
  background: var(--primary-color);
}

.route {
  background: var(--third-color);
  padding: 0.6em 1em;
  margin: 1em;
  font-weight: bold;
  font-size: 1.6em;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: var(--font-color-light);
  border-radius: 0.2em;
}
.route:hover {
  animation: upButton 100ms linear forwards;
}

.wallet > p,
.wallet > h2,
.stats > p,
.stats > h2 {
  text-align: center;
}

@keyframes upButton {
  from {
    -webkit-box-shadow: 0 0 0 0 var(--secondary-color);
    box-shadow: 0 0 0 0 var(--secondary-color);
    transform: scale(1);
  }
  to {
    -webkit-box-shadow: 3px 4px 10px 0 var(--primary-color);
    box-shadow: 3px 4px 10px 0 var(--primary-color);
    transform: scale(1.025);
  }
}
