*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/**
 * VARIABLES
 */
:root {
  --font-color: #2f3542;
  --font-color-light: #ffffff;
  --primary-color: #30336b;
  --secondary-background: #ffffff;
  --secondary-color: #f0932b;
  --error-color: #ff4757;
  --validation-color: #70a1ff;
  --pendind-color: #ffa502;
  --todo-color: #ff4757;
  --done-color: #2ed573;
}

body {
  background: var(--primary-color);
  font-family: "Roboto", sans-serif;
  color: var(--font-color-light);
  margin: 0;
  padding: 0;
}
#app {
  width: 600px;
}

/**
 * POPUP.VUE HERE
 */
header {
  flex-wrap: wrap;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  background: var(--primary-color);
}
.nav {
}

.route {
  background: var(--secondary-color);
  padding: 0.6em 1em;
  margin: 1em;
  font-weight: bold;
  font-size: 1.6em;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: var(--font-color-light);
  transition: opacity 1s linear;
  border-radius: 0.2em;
}
.route:hover {
  opacity: 90%;
}

.wallet > p,
.stats > p {
  text-align: center;
}
